@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Open+Sans:wght@300&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
    background-image: url("/img/fondo.png");
}

/*configuracio per readaptarse en movil.*/
@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px)
 {

    .box{
        flex-wrap: wrap;
        display: inline-block;
        justify-content: left;
        background-color: yellow;
    }

    .pj{
        display:  inline-block;
        flex: 1;
        margin-right: 20px;
        border: 3px solid blue;
        align-content: center;
        text-align: center;

    }

}

.box{
    flex-wrap: wrap;
    display: inline-flex;
    justify-content: left;
    margin: 20%;
}



.pj{
    display:  inline-block;
    flex: 1;
    margin-right: 20px;
    border: 2px solid yellowgreen;
    align-content: center;
    text-align: center;
}

.headerpj{
    text-decoration: underline;
    font-weight: 900;
    text-align: center;
}

.statsheader{

    text-decoration: underline;
    text-align: center;

}

.playerstats{
    font-weight: bold;
    display:  inline-flex;
    font-family: 'IBM Plex Mono', monospace;
    align-content: center;
}